.wrapper {
    display: flex;
    /* height: 80vh; */
    /* background-color: #ccc; */
    /* justify-content: center; */
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.Burger {
    /* flex-basis: 80%; */
}
.Controls{
    /* flex-grow: 1; */
    /* flex-basis: 10%; */
}

@media only screen and (max-width: 700px) {
    .wrapper{
        flex-direction: column;
        width: 100%;
    }
}